html, body{
    padding: 0;
    margin: 0;
  }
  html{
    height: 100%;
  }
  body{
    min-height: 75%;
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    border: 1px solid black;
    justify-content: space-evenly;
    /* justify-content: stretch; */
    /* just in case but good for now */
    align-items: center;
    overflow: scroll;
}

#userLocation{
  margin: 15px;
}

#malcolm {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  flex-shrink: 0;
}

#projectSection {
  height: 200px;
  width: 200px;
  border: 1px solid;
  font-size: large;
}

#projectHeader{

  margin: 20px;
}

#projects{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: auto;
}

#forms{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  justify-content: space-evenly;
}

input{
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

input::placeholder{
text-align: center;
}

#Home {
  display: flex;
  font-size: 20px;
  border-bottom: 1px solid black;
  width: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 30px;
}


#projectHeader, #Home{

  display: flex;
  font-size: 20px;
  border-bottom: 1px solid black;
  width: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

#projectHeader:hover, #Home:hover{

  color: red;
}

#postProject {

  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#create{

  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;

  
}





/* CSS */
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: 1px solid rgb(246, 195, 195);
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#addProject {

  margin-bottom: 10px;
}

button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
/* cool */

/* Now you can start working with the UI */