html, body{
    padding: 0;
    margin: 0;
  }
  html{
    height: 100%;
  }
  body{
    min-height: 75%;
  }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sidebar{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  border: 1px solid black;
  justify-content: space-evenly;
  /* justify-content: stretch; */
  /* just in case but good for now */
  align-items: center;
  overflow: scroll;
}

#projectSection {
  height: 200px;
  width: 200px;
  border: 1px solid;
  font-size: large;
}

#projectHeader{

  margin: 20px;
}

#userLocation{
  margin-top: 20px;
}

#projects{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: auto;
  height: inherit;
  margin-bottom: 50px;
}

#malcolm {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  flex-shrink: 0;
}


#projectHeader{

  margin: 20px;
}



input{
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

input::placeholder{
text-align: center;
}

#Home {
  display: flex;
  font-size: 20px;
  border-bottom: 1px solid black;
  width: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 30px;
}


#projectHeader, #Home{

  display: flex;
  font-size: 20px;
  border-bottom: 1px solid black;
  width: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

#projectHeader:hover, #Home:hover{

  color: red;
}

#taskContent{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#row{

  display: flex;
  flex-direction: row;
}

#taskContent{ 
  display: flex;
}

#taskSection{

  border: 1px solid black;
  width: 500px;
  border-radius: 10px;
}

#taskSection, #displayProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  height: 20vh;
  justify-content: space-evenly;
}


#buttonSection, #buttonProjects {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: space-evenly;
}

#showTitle{
  border: 1px solid black;
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#ProjectsContent{

  display: flex;
  flex-direction: column;
}

#buttonSeperate{

  width: 500px;
  display: flex;
  justify-content: space-between;
}

#placeElements{

  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  justify-content: space-evenly;
}

#storePlaceTask{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#pageButtons{

  display: flex;
  margin: 10px;
  /* width: 20px; */
  align-items: center;
  justify-content: space-between;
  width: 200px;

}


#upcomingContent{

  display: flex;
  flex-direction: column;
}

/* #upcomingTask, #futureTasks {

  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-evenly;
} */

#holdTheProject, #upcomingTask, #holdTheProjectUpcoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  height: 20vh;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 500px;
  border-radius: 10px;
  height: 200px;
}

#buttonSeperation, #pageButtons {

  display: flex;
  width: 400px;
  justify-content: space-evenly;
  align-items: center;
}

/* #completedThisTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  
} */





/* CSS */
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: 1px solid rgb(246, 195, 195);
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
/* 
button:hover{
  background-color: red;

} */
/* cool */

/* Now you can start working with the UI */